<section class="container">

  <mat-card class="seguimiento-card mb-3 mat-mdc-elevation-specific mat-elevation-z5"
    *ngFor="let seguimiento of seguimientos">
    <mat-card-header class="line mb-3">
      <ngx-avatars [name]="nombreCompleto(seguimiento.usuario)" size="32"
        [matTooltip]="nombreCompleto(seguimiento.usuario)"></ngx-avatars>
      <h3 class="ml-2 my-auto mat-title">{{nombreCompleto(seguimiento.usuario)}}</h3>
      <span fxFlex></span>
      <span class="fecha-seguimiento my-auto">{{seguimiento.fechaSeguimiento | date: 'MMM dd, yyyy hh:mm'}}</span>
    </mat-card-header>
    <mat-card-content>
      {{seguimiento.comentarios}}
    </mat-card-content>
  </mat-card>

  <mat-card class="form mt-4 mat-mdc-elevation-specific mat-elevation-z5">
    <mat-card-content fxLayout class="pb-0">

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Agrega un comentario</mat-label>
        <textarea matInput [formControl]="comentarios"></textarea>
        <mat-icon matPrefix>message</mat-icon>
      </mat-form-field>

      <button type="button" class="ml-3 my-auto" mat-raised-button color="primary" [disabled]="comentarios.invalid"
        (click)="agregarSeguimiento()">
        <span>Publicar</span>
      </button>

    </mat-card-content>
  </mat-card>

</section>
