.home-header {
  height: 50vh;
  background-color: #f1efe7;
  background-image: url("/assets/img/Consultify.png");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.home-header h1 {
  color: #000;
  text-shadow: 1.5px 2px 0.5px var(--darken-blue);
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

section {
  max-width: 100vw;
}

.home-img:hover {
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
}

mat-icon {
  padding-top: 3px;
  padding-left: 2px;
  color: var(--darken-orange);
  font-size: 2rem;
}

.card-button {
  padding: 10px 30px !important;
}

.card-button:hover {
  background-color: var(--darken-orange);
  font-weight: 400;
  color: #fff;
}
