.expanded {
  color: var(--light-orange);
}

.logo {
  cursor: pointer;
  background-image: url("/assets/img/brand-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 60px;
  width: 175px;
}

/*
  * ESTILOS DEL MENU
  */
mat-list-item mat-icon,
mat-list-item span {
  color: var(--light-orange);
  vertical-align: middle;
}

mat-list-item {
  min-width: fit-content;
}

mat-list-item:hover,
mat-list-item:active {
  border-bottom: 2px solid var(--darken-orange);
}
