<h3 class="mat-h1 mx-auto text-center mt-3 mb-4" *ngIf="mostrarTitulo">Actividades próximas a vencer</h3>

<div class="cards" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
  <mat-card fxFlex.lt-sm="100" fxFlex.gt-xs="48" fxFlex.gt-sm="30"
    class="mb-4 mat-mdc-elevation-specific mat-mdc-elevation-specific mat-elevation-z8"
    *ngFor="let actividad of misActividades | async">

    <mat-card-header class="mb-2">
      <mat-card-title class="my-auto mat-h3">Nombre: {{actividad.nombre}}</mat-card-title>
      <mat-card-subtitle>
        Fecha de Vencimiento: {{ actividad.fechaCierreEsperado | date: 'MMM dd, yyyy'}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <a class="enlace-proyecto" [routerLink]="['/proyectos/', actividad.proyecto.idProyecto]" matTooltip="Ir al Proyecto">
          Proyecto: {{ actividad.proyecto.idProyecto + ' - ' + actividad.proyecto.nombreProyecto }}
        </a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="pt-3">
      <h4 class="titulo">Estado: <span class="subtitulo">{{ obtenerEstado(actividad.estado)}}</span></h4>

      <h4 class="titulo mt-2" *ngIf="actividad.tipoActividad">Tipo Actividad:
        <span class="subtitulo">{{actividad.tipoActividad.nombre}}</span>
      </h4>


      <h4 class="descripcion mt-2">Descripción</h4>
      <p>{{actividad.descripcion}}</p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button class="darken-orange" mat-button [routerLink]="[dirigirActividad(actividad)]">
        <mat-icon>open_in_new</mat-icon> Ir a la actividad
      </button>
    </mat-card-actions>

  </mat-card>
</div>
