.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: var(--light-orange); /* Color de fondo deseado */
  text-align: center;
  z-index: -1; /* Para que esté detrás de las cajas de información */
}

.titulo h2 {
  color: #fff;
  font-size: 1.75em;
}

mat-card-title.title {
  border-bottom: 2px solid var(--deep-blue);
}

div.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('src/assets/img/user-icon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-red {
  color: #f44336;
}

.mat-list-base .mat-list-item .mat-list-icon,
.size-2 {
  font-size: 2.4em !important;
}

mat-form-field {
  margin-bottom: 10px;
}
