<div class="mb-4 mt-5 banner"></div>


<div fxLayout fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center" class="titulo my-3 px-md-5">
  <div class="foto px-2"></div>
  <h2 class="px-2">Mi Cuenta</h2>
</div>
<section fxLayout fxLayout.lt-md="column">
  <aside aria-label="info-basica" fxLayout="column" fxFlex.gt-sm="65" class="px-md-5">
    <mat-card class="mat-mdc-elevation-specific mat-elevation-z4 m-2">
      <mat-card-header class="mb-2">
        <mat-card-title class="title">Datos personales </mat-card-title>
        <span fxFlex></span>
        <button mat-button color="primary" matTooltip="Editar información personal" (click)="toggleEdit()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <form autocomplete="off" class="p-2" [formGroup]="accountForm" (ngSubmit)="guardarDatosPersonales()"
          fxLayout="column">

          <mat-form-field>
            <mat-label>Tipo Documento</mat-label>
            <input matInput type="text" formControlName="tipoDocumento">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">article</mat-icon>
            <mat-hint *ngIf="habilitarCampos">Este dato no se puede modificar</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>N° de Identificación</mat-label>
            <input matInput type="text" formControlName="identificacion">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">credit_card</mat-icon>
            <mat-hint *ngIf="habilitarCampos">Este dato no se puede modificar</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nombres</mat-label>
            <input matInput type="text" formControlName="nombres">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">face</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" formControlName="apellidos">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">face</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Rol</mat-label>
            <input matInput type="text" formControlName="rol">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">verified_user</mat-icon>
            <mat-hint *ngIf="habilitarCampos">Este dato no se puede modificar</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput type="text" formControlName="nombreUsuario">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">badge</mat-icon>
            <mat-hint *ngIf="habilitarCampos">Este dato debe ser único</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Creado Por</mat-label>
            <input matInput type="text" formControlName="creadoPor">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">face</mat-icon>
            <mat-hint *ngIf="habilitarCampos">Este dato no se puede modificar</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput type="email" formControlName="correo">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">mail</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Teléfono Contacto</mat-label>
            <input matInput type="text" formControlName="telefono">
            <mat-icon matPrefix class="mat-18" [inline]="habilitarCampos">phonelink_ring</mat-icon>
          </mat-form-field>

          <p class="caption itallic text-center my-3 text-red" *ngIf="habilitarCampos && !accountForm.valid">
            Verifica los campos del formulario
          </p>

          <div *ngIf="habilitarCampos" fxLayoutAlign.gt-sm="end">
            <button type="button" mat-raised-button color="warn" (click)="toggleEdit()"> Cancelar </button>
            <button type="submit" mat-raised-button color="primary" class="ml-5" [disabled]="!accountForm.valid">
              Guardar cambios
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </aside>

  <aside fxFlex aria-label="opciones" fxLayout="column" class="pr-md-5">
    <mat-card class="mat-mdc-elevation-specific mat-elevation-z4 my-2">
      <mat-card-header>
        <mat-card-title>Últimas Notificaciones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>último inicio de sesión: {{mostrarUltimoInicioSesion() | date: 'medium'}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-mdc-elevation-specific mat-elevation-z4 my-2">
      <mat-card-header>
        <mat-card-title>Opciones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <button mat-button [routerLink]="[rutaHome]">
              <mat-icon>dashboard</mat-icon>
              <span class="pl-2">Ir a la página principal</span>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button (click)="cambiarCorreo()" color="warn">
              <mat-icon>alternate_email</mat-icon>
              <span class="pl-2">Cambiar correo electrónico</span>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button (click)="abrirModalContrasena()" color="warn">
              <mat-icon>lock_reset</mat-icon>
              <span class="pl-2">Cambiar contraseña</span>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button (click)="desactivarCuenta()" color="warn">
              <mat-icon>person_remove</mat-icon>
              <span class="pl-2">Desactivar cuenta</span>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </aside>
</section>
