<div class="row">
  <h2 matDialogTitle>Gestionar Miembros</h2>
  <div fxFlex></div>
  <button mat-icon-button matTooltip="Cerrar" (click)="cerrarModal()">
    <mat-icon>clear</mat-icon>
  </button>
</div>


<mat-tab-group>
  <mat-tab label="Agregar Miembro">
    <div class="px-3 h-50">
      <mat-list class="my-4">
        <h4 matListItemTitle class="text-bold mb-1">Miembros Actuales</h4>
        <mat-divider></mat-divider>
        <mat-spinner class="mx-auto my-3" *ngIf="cargandoDatos"></mat-spinner>
        <mat-list-item *ngFor="let miembro of miembros">
          <ngx-avatars [name]="getMiembroName(miembro)" matListItemAvatar class="my-auto"></ngx-avatars>
          <h3 matListItemTitle>{{getMiembroName(miembro)}}</h3>
          <span matListItemLine>{{miembro.usuario.correo}}</span>
        </mat-list-item>
      </mat-list>


      <h4 class="text-center mb-2" *ngIf="noHayPosiblesMiembros">
        *No hay mas usuarios o posibles miembros por agregar*
      </h4>
      <form [formGroup]="miembroForm" (ngSubmit)="agregarMiembro()" fxLayout="column">

        <mat-form-field class="mb-3 mx-auto" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input type="text" placeholder="Busca por nombre o correo" matInput [matAutocomplete]="auto"
            formControlName="usuario">

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="mostrarUsuarioFn">
            <mat-option *ngFor="let user of filteredUsuarios | async" [value]="user">
              <span>
                {{getMiembroName(user)}} - {{user.usuario.correo}}
              </span>
            </mat-option>
          </mat-autocomplete>

          <mat-error>Campo Obligatorio</mat-error>
        </mat-form-field>

        <div fxFlexFill fxLayout fxLayoutAlign="center" class="mb-4">
          <button mat-button type="button" (click)="cerrarModal()" color="warn" class="mx-3">Volver al tablero</button>
          <button mat-raised-button type="submit" color="primary" class="mx-3" [disabled]="!miembroForm.valid">
            Agregar al proyecto
          </button>
        </div>
      </form>

    </div>
  </mat-tab>


  <mat-tab label="Quitar Miembro">
    <div class="px-3 mt-4">
      <h4 class="text-bold mb-1">Miembros Actuales</h4>
      <mat-divider></mat-divider>
    </div>
    <mat-list>

      <mat-list-item *ngFor="let miembro of miembros">
        <ngx-avatars [name]="getMiembroName(miembro)" matListItemAvatar class="my-auto"></ngx-avatars>
        <h3 matListItemTitle>{{getMiembroName(miembro)}}</h3>
        <span matListItemLine>{{miembro.usuario.correo}}</span>
        <button matListItemMeta mat-icon-button (click)="eliminarMiembro(miembro)" matTooltip="Quitar Miembro">
          <mat-icon class="mat-18">clear</mat-icon>
        </button>
      </mat-list-item>

    </mat-list>
  </mat-tab>

</mat-tab-group>
