<div fxLayout="row" class="contenedor">
  <section fxFlex class="blanco">
    <div fxLayout="column">
      <div class="logo"></div>
      <div class="mx-auto redes">
        <h2>Visita nuestras redes sociales</h2>
        <div class="text-center">
          <a mat-icon-button [href]="enlace.url" [target]="enlace.target" *ngFor="let enlace of redes"
            [matTooltip]="enlace.nombre">
            <mat-icon [class]="enlace.nombre"><fa-icon [icon]="enlace.faIcon"></fa-icon></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section fxFlex="60" class="formulario my-auto">
    <mat-card class="m-auto p-4">
      <mat-card-header class="mx-auto mb-5">
        <mat-card-title class="mat-h1">Recuperar Contraseña</mat-card-title>
      </mat-card-header>
      <form (ngSubmit)="recuperarContrasena()" [formGroup]="resetForm" fxLayout="column">

        <!-- correo-->
        <mat-form-field appearance="outline" class="mb-4">
          <mat-label>Correo Electrónico </mat-label>
          <input type="text" matInput placeholder="Ej. correo@gmail.com" formControlName="correo">
          <mat-hint>Ingrese el nombre de usuario o correo con que inicia sesión</mat-hint>
          <mat-error>Ingrese un nombre de usuario válido</mat-error>
        </mat-form-field>

        <mat-card-actions fxLayout="row" fxLayoutAlign="center">
          <button mat-button type="button" color="danger" [routerLink]="['/login']" class="py-4 px-5 mx-2">
            Volver a inicio
          </button>
          <button mat-raised-button type="submit" color="primary" [disabled]="!resetForm.valid" class="py-4 px-5 mx-2">
            Recuperar Contraseña
          </button>
        </mat-card-actions>
      </form>
    </mat-card>

  </section>
</div>
