<h3 class="mat-h1 mx-auto text-center mt-3 mb-4" *ngIf="mostrarTitulo">Tus proyectos a tu alcance</h3>

<div class="cards" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
  <mat-card fxFlex.lt-sm="100" fxFlex.gt-xs="48" fxFlex.gt-sm="32"
    class="mb-4 mat-mdc-elevation-specific mat-mdc-elevation-specific mat-elevation-z8"
    *ngFor="let pro of misProyectos | async">

    <mat-card-header class="mb-2">
      <mat-card-title class="my-auto">Proyecto {{pro.idProyecto + ' - ' + pro.nombreProyecto}}</mat-card-title>
      <mat-card-subtitle>Creado en: {{ pro.creadoEn | date: 'medium'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>

      <mat-list dense>

        <h4 class="titulo mb-0">Cliente</h4>

        <mat-list-item>
          <div matListItemLine>
            <span class="list-title">Identificación: </span>
            <span>{{pro.clienteProyecto.tipoDocumento + ' - ' + pro.clienteProyecto.numeroIdentificacion}}</span>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div matListItemLine>
            <span class="list-title">Nombre Comercial: </span>
            <span>{{pro.clienteProyecto.nombreComercial}}</span>
          </div>
        </mat-list-item>

      </mat-list>

      <h4 class="titulo mt-2">Descripción</h4>
      <p>{{pro.descripcionProyecto}}</p>


    </mat-card-content>

    <mat-card-actions align="end">
      <button class="darken-orange" mat-button [routerLink]="['/proyectos/'+pro.idProyecto]">
        <mat-icon>dashboard</mat-icon> Ir al tablero
      </button>
    </mat-card-actions>

  </mat-card>
</div>
