footer {
  background-color: #f5f5f5;
}

.enlace-externo:hover {
  font-weight: 500;
}

.seccion:hover {
  background-color: #f5f6f7;
}

footer section mat-list h3 {
  border-bottom: 1px solid black;
  font-weight: 600;
}

mat-list mat-list-item, mat-list mat-list-item a {
  text-align: center;
}

mat-list mat-list-item a {
  color: black;
  text-decoration: none;
}

mat-list mat-list-item:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.credits a {
  text-decoration: none;
}
