<footer class="mt-5" fxLayout="column">
  <mat-divider></mat-divider>

  <section fxLayout="column" fxFlexAlign.lt-md="center" fxLayout.gt-sm="row">
    <mat-list dense fxFlex class="mx-2 seccion">
      <h3 class="m-0 mt-3 pb-1 text-center">Proyectos</h3>
      <mat-list-item *ngFor="let item of proyectos" [routerLink]="[item.url]"
        [disabled]="!rolService.rolRequerido(item.roles)">
        {{item.name}}
      </mat-list-item>
    </mat-list>

    <mat-list dense fxFlex class="mx-2 seccion">
      <h3 class="m-0 mt-3 pb-1 text-center">Módulos</h3>
      <mat-list-item *ngFor="let item of modulos" [routerLink]="[item.url]"
        [disabled]="!rolService.rolRequerido(item.roles)">
        {{item.name}}
      </mat-list-item>
    </mat-list>

    <mat-list dense fxFlex class="mx-2 seccion">
      <h3 class="m-0 mt-3 pb-1 text-center"> Ponte en Contacto</h3>
      <mat-list-item *ngFor="let item of contacto" [routerLink]="[item.url]"
        [disabled]="!rolService.rolRequerido(item.roles)">
        {{item.name}}
      </mat-list-item>
      <mat-list-item>
        <a href="https://firebasestorage.googleapis.com/v0/b/app-consultify.appspot.com/o/manual%2FManual%20de%20usuario%20Consultify.pdf?alt=media&token=e72b7345-f1c7-4cc1-8fb5-b3b5e21379a4"
          target="_blank">Manual de Usuario</a>
      </mat-list-item>
    </mat-list>
  </section>

  <div class="footer-row credits mt-2" fxLayoutAlign="center center">
    <p class="mat-h3">
      &copy; Hecho para <a href="https://www.asisge.com/" target="_blank"> Asisge SAS </a> - 2024
    </p>
  </div>
</footer>
