@import "/src/assets/css/header-styles.css";

header {
  width: 100%;
  min-height: 33vh;
  background-image: url("/assets/img/lists-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-h3 {
  font-size: 18px;
}

.width-30 {
  min-width: 25%;
}

.mat-mdc-progress-spinner,
.mdc-circular-progress__determinate-circle {
  stroke-linecap: round !important;
}

.progress-text-style {
  position: relative;
  top: -50px;
  left: 46.5%;
  font-weight: 500;
  font-size: 18px;
}
