@import "/src/assets/css/header-styles.css";

header {
  width: 100%;
  min-height: 33vh;
  background-image: url("/assets/img/lists-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-h3 {
  font-size: 18px;
}

.width-30 {
  min-width: 25%;
}

mat-accordion,
.botonera {
  width: 90%;
}

mat-expansion-panel-header,
mat-expansion-panel section {
  overflow-x: auto;
}

.darken-orange {
  color: var(--darken-orange);
}

/*
* CIRCULO EN INFO PROYECTO
*/
.mat-mdc-progress-spinner,
.mdc-circular-progress__determinate-circle {
  stroke-linecap: round !important;
}

.progress-text-style {
  width: 80px;
  position: relative;
  top: -50px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

/*
* BARRAS HORIZONTALES
 */
.contenedor-barras {
  width: 90%;
  max-width: 90%;
}

h3.barra {
  min-width: 27%;
}

.barra {
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.barra.POR_HACER {
  background-color: var(--deep-blue);
}

.barra.EN_PROGRESO {
  background-color: #91c232;
}

.barra.EN_REVISION {
  background-color: #e8532c;
}

.barra.COMPLETADA {
  background-color: #05a60dd1;
}

.rounded {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
