<div gdAreas="header | content" gdGap="1em" gdRows="auto auto auto">

  <header class="mb-2" gdArea="header">
    <h1> Informes de avance</h1>
  </header>

  <section gdArea="content" fxLayoutAlign="center" fxLayout="column">

    <mat-accordion fxFlex fxFlex.gt-xs="90" class="mat-mdc-elevation-specific mat-elevation-z8 mx-auto mb-5"
      *ngFor="let proyecto of proyectos | async">

      <!-- expansion info personal-->
      <mat-expansion-panel (afterExpand)="cargarInformeProyecto(proyecto)">

        <mat-expansion-panel-header class="py-2">
          <mat-panel-title>
            Proyecto: {{proyecto.nombreProyecto}},
            Cliente: {{proyecto.cliente.nombreComercial}}
          </mat-panel-title>
          <mat-panel-description fxShow.gt-sm dir="auto">Informe de avances </mat-panel-description>
        </mat-expansion-panel-header>


        <h3 class="weight-500 mb-1 middle header-h3">
          <mat-icon class="material-symbols-outlined">info</mat-icon>
          Informacion del proyecto
        </h3>
        <mat-divider class="mb-3"></mat-divider>

        <section>
          <div fxFlex>
            <p>Nombre del Proyecto: {{proyecto.nombreProyecto}}</p>
            <p>Cliente: {{infoCliente(proyecto.cliente)}}</p>
            <p>Miembros:</p>
            <div fxLayout="row">
              <ngx-avatars [name]="miembro.nombreCompleto" [matTooltip]="miembro.nombreCompleto" size="40" class="mr-3"
                *ngFor="let miembro of proyecto.miembros"></ngx-avatars>
            </div>
          </div>

          <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-evenly" *ngIf="proyecto.informeActividad">

            <div class="mx-3 width-30" fxflex>
              <mat-progress-spinner mode="determinate" value="100" diameter="80" class="mx-auto"></mat-progress-spinner>
              <div class="progress-text-style">
                {{proyecto.informeActividad.totalActividades}}
              </div>
              <p class="weight-500 text-center">Total de Actividades</p>
            </div>

            <div class="mx-3 width-30" fxflex>
              <mat-progress-spinner mode="determinate"
                [value]="calcularCirculo(proyecto.informeActividad.actividadesCompletas, proyecto.informeActividad.totalActividades)"
                diameter="80" class="mx-auto"></mat-progress-spinner>
              <div class="progress-text-style">
                {{proyecto.informeActividad.actividadesCompletas}}
              </div>
              <p class="weight-500 text-center">Completadas</p>
            </div>

            <div class="mx-3 width-30" fxflex>
              <mat-progress-spinner mode="determinate"
                [value]="calcularCirculo(proyecto.informeActividad.actividadesPorVencer, proyecto.informeActividad.totalActividades)"
                diameter="80" class="mx-auto" color="accent"></mat-progress-spinner>
              <div class="progress-text-style">
                {{proyecto.informeActividad.actividadesPorVencer}}
              </div>
              <p class="weight-500 text-center">Proximas a vencer</p>
            </div>

          </div>
        </section>

        <h3 class="weight-500 mt-3 mb-1 middle header-h3">
          <mat-icon>bar_chart</mat-icon>
          Avances
        </h3>

        <mat-divider class="mb-3"></mat-divider>

        <mat-spinner *ngIf="!proyecto.informeActividad"></mat-spinner>

        <section class="contenedor-barras" *ngIf="proyecto.informeActividad">

          <div class="my-3 p-2 barra POR_HACER"
            [ngStyle]="definirEstilos(proyecto.informeActividad.actividadesPorHacer, proyecto.informeActividad.totalActividades)">
            Actividades Por Hacer: {{proyecto.informeActividad.actividadesPorHacer}}
            <span fxFlex></span>
            <span>{{calcularPorcentaje(proyecto.informeActividad.actividadesPorHacer,
              proyecto.informeActividad.totalActividades)}}%</span>
          </div>

          <div class="my-3 p-2 barra EN_PROGRESO"
            [ngStyle]="definirEstilos(proyecto.informeActividad.actividadesEnProgreso, proyecto.informeActividad.totalActividades)">
            Actividades En Progreso: {{proyecto.informeActividad.actividadesEnProgreso}}
            <span fxFlex></span>
            <span>{{calcularPorcentaje(proyecto.informeActividad.actividadesEnProgreso,
              proyecto.informeActividad.totalActividades)}}%</span>
          </div>

          <div class="my-3 p-2 barra EN_REVISION"
            [ngStyle]="definirEstilos(proyecto.informeActividad.actividadesEnRevision, proyecto.informeActividad.totalActividades)">
            Actividades En Revision: {{proyecto.informeActividad.actividadesEnRevision}}
            <span fxFlex></span>
            <span>{{calcularPorcentaje(proyecto.informeActividad.actividadesEnRevision,
              proyecto.informeActividad.totalActividades)}}%</span>
          </div>

          <div class="my-3 p-2 barra COMPLETADA"
            [ngStyle]="definirEstilos(proyecto.informeActividad.actividadesCompletas, proyecto.informeActividad.totalActividades)">
            Actividades Completadas: {{proyecto.informeActividad.actividadesCompletas}}
            <span fxFlex></span>
            <span>{{calcularPorcentaje(proyecto.informeActividad.actividadesCompletas,
              proyecto.informeActividad.totalActividades)}}%</span>
          </div>

        </section>

        <mat-action-row>
          <button mat-button color="primary" [routerLink]="['/proyectos/',proyecto.idProyecto]">
            <mat-icon>open_in_new</mat-icon>
            <span>Ir al proyecto</span>
          </button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>
  </section>
