<div fxLayout="row wrap" class="contenedor">

  <section fxFlex fxFlex.lt-sm="100" class="blanco mb-3 mb-md-0 pb-3">
    <div fxLayout="column">

      <div class="logo"></div>

      <div class="mx-auto redes">
        <h2>Visita nuestras redes sociales</h2>
        <div class="text-center">
          <a mat-icon-button [href]="enlace.url" [target]="enlace.target" *ngFor="let enlace of redes"
            [matTooltip]="enlace.nombre">
            <mat-icon [class]="enlace.nombre"><fa-icon [icon]="enlace.faIcon"></fa-icon></mat-icon>
          </a>
        </div>

      </div>
    </div>
  </section>

  <section fxFlex="60" fxFlex.lt-sm="100" class="formulario my-auto py-4 py-sm-0">

    <mat-card class="m-auto p-4">

      <mat-card-header class="mx-auto mb-5">
        <mat-card-title class="mat-h1">Iniciar Sesión</mat-card-title>
      </mat-card-header>

      <form (ngSubmit)="iniciarSesion()" [formGroup]="loginForm" fxLayout="column">

        <!-- nombre de usuario o correo-->
        <mat-form-field appearance="outline" class="mb-4">
          <mat-label>Nombre de Usuario </mat-label>
          <input type="text" matInput placeholder="Ej. admin1" formControlName="nombreUsuario">
          <mat-hint>Ingese el nombre de usuario o correo con que inicia sesión</mat-hint>
          <mat-error>Ingrese un nombre de usuario válido</mat-error>
        </mat-form-field>

        <!-- contraseña -->
        <mat-form-field appearance="outline" class="mb-4">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>
            Ingrese su contraseña. Debe contener mínimo 1 Mayus, 1 Min, 1 Número y 1 Caracter especial
          </mat-hint>
          <mat-error>
            Contraseña Obligatoria. Asegúrese de contener mínimo 1 Mayus, 1 Min, 1 Número y 1 Caracterespecial
          </mat-error>
        </mat-form-field>

        <a [routerLink]="['/recuperar']" fxFlexAlign="end" class="mb-3">recuperar contraseña</a>
        <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid" class="py-4">
          Iniciar Sesion
        </button>
      </form>
    </mat-card>

  </section>
</div>
