.contenedor {
  min-height: 100vh;
  background-color: var(--darken-orange);
}

.blanco {
  background-color: #fff;
}

.logo {
  min-height: 50vh;
  background-image: url("/assets/img/brand-logo.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(0.7);
}

.mat-icon {
  transform: scale(1.25);
}

.Facebook {
  color: #0866ff;
}

.Instagram {
  color: #fc015e;
}

mat-card {
  max-width: 90%;
}
