<div class="text-center my-4">
  <button mat-fab color="primary" (click)="abrirCrearActividad()" matTooltip="Crear nueva actividad">
    <mat-icon class="mat-18">add</mat-icon>
  </button>
</div>

<div>
  <div fxFlex></div>
  <button mat-button color="accent" (click)="resetColumnas()" *ngIf="mostrarReset">
    <mat-icon class="mat-18">restart_alt</mat-icon> Mostrar todas las columnas
  </button>
</div>

<div class="kanban-board my-4 px-2" fxLayout="row" fxLayoutGap="8px">

  <div *ngFor="let column of columnas" [fxHide]="column.oculta" [fxFlex]="column.ancho"
    class="mat-mdc-elevation-specific mat-elevation-z5 kanban-column" [ngClass]="column.claseCss">

    <div class="pl-2 pr-1 pt-3 mb-3 column-title">
      <h2 class="column-title-h2" [matBadge]="(column.actividades | async)?.length" matBadgePosition="above after">
        {{ column.titulo }}
      </h2>
      <div fxFlex></div>
      <button mat-icon-button (click)="toggleExpand(column)"
        [matTooltip]="column.isExpanded ? 'Retraer Columna' : 'Expandir Columna'">
        <mat-icon class="expand-icon">{{column.isExpanded ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleHide(column)" matTooltip="Ocultar Columna" *ngIf="!column.isExpanded">
        <mat-icon class="hide-icon">visibility_off</mat-icon>
      </button>
    </div>


    <mat-card class="m-2" *ngFor="let activity of column.actividades | async">
      <mat-card-title class="mat-h3 weight-500 pl-2">
        {{ activity.nombre }}
      </mat-card-title>
      <mat-card-content class="pb-2">
        <p>{{activity.descripcion}}</p>
        <p class="y-center">
          <span class="fecha-vencimiento">Vence en: {{activity.fechaCierreEsperado | date: 'dd MMM yyyy'}}</span>
          <span fxFlex></span>
          <ngx-avatars [size]="25" [name]="mostrarNombreCompleto(activity.responsable)"
            [matTooltip]="'Asignado a: ' + activity.responsable.nombresCompletos"></ngx-avatars>
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
